body {
    background-image: url("imagenes/logo.JPG");
    background-attachment: fixed;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;

}
h1{
color: white;
    margin:-10px 10px ;
    font-size: 70px;
    border-radius: 0;
    background-image: url("imagenes/fondo banner.jpg");
    width:1481px;

}
.logo{
    margin:-15px -12px;
    border:5px solid royalblue;
}
b{
    word-spacing: 20px;
    font-size: 15px;
    float: right;
    margin: -250px -90px;
}
nav{
    ul{
        word-spacing: 0;

        a{
            margin: 0 20px;
        }
        label{
            margin:0 -72px;
        }
        input{
            width: 400px;
            margin: 0 50px;
            height: 26px;
        }

        button{
            width: 50px;
            height: 30px;
            margin: -30px -2px;
        }
        b{
            font-family: "Times New Roman", Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 5000;
            border-radius: 10px;
            padding: 10px 20px;
            background-color: cadetblue;
            color: black;
            text-decoration: none;
        }
        margin: 150px -10px;
        i{
            margin:8px;
        }
        input{
            font-size: 17px;
            margin: 0 19px;

        }
    }
    a{
        font-family: "Times New Roman", Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 5000;
        border-radius: 10px;
        padding: 10px 15px;
        background-color: cornflowerblue;
        color: black;
        text-decoration: none;
    }
    margin: 100px;
}
b{
    img{
        margin: 250px 300px;
        border-width: 100px;
        border-style: solid;
    }
}
aside{
    h3 {
        font-size: 30px;
        margin: 0 300px;
        font-family: "Times New Roman", Helvetica, sans-serif;
        color: white;

        p{
            font-size: 20px;
            margin: -20px 0;
        }
    }

    a{
        font-size: 30px;
        text-decoration: none;
        color: black;
        border-radius: 10px;
        padding: 10px 20px;
        background-color: cornflowerblue;
        margin: 45px;
    }
    .imagen01{
        margin: -150px 450px;
        width: 300px;
        border: 5px solid darkblue;
    }
    .imagen2 {
        margin: 30px 0;
        width: 310px;
        border: 5px solid darkblue;
    }
    b {
        font-size: 30px;
        margin: -350px 100px;
        word-spacing: 1px;
    }
}



